extends layout

block content
  .page-login
    form.form-horizontal.form-login(action='/', method='post')
      if locals.flag === 'error'
        p.alert.alert-danger=locals.message
      else if locals.flag === 'success'
        p.alert.alert-success=locals.message
      h2 Input your accout
      .form-group
        label.col-sm-2.control-label(for='username') Username
        .col-sm-10
          if login
            input.form-control.input-lg#username(type='text', name='username', placeholder='Your username', required=true, value=login.username)
          else
            input.form-control.input-lg#username(type='text', name='username', placeholder='Your username', required=true)
      .form-group
        label.col-sm-2.control-label(for='password') Password
        .col-sm-10
          if login
            input.form-control.input-lg#password(type='password', name='password', placeholder='Your password', required=true, value=login.password)
          else
            input.form-control.input-lg#password(type='password', name='password', placeholder='Your password', required=true)
      input.btn.btn-lg.btn-primary.btn-block(type='submit', name='enter', value='Login')
      a.btn.btn-lg.btn-success.btn-block(href='/register') Register
  script(src='/socket.io/socket.io.js')
  <script>var socket = io();</script>
